@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 90%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 93%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 93%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 85%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 85%;
    --muted-foreground: 240 3.8% 30%;
    --accent: 240 4.8% 85%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 80%;
    --input: 240 5.9% 80%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 6% 20%;
    --foreground: 0 0% 95%;
    --card: 240 6% 25%;
    --card-foreground: 0 0% 95%;
    --popover: 240 6% 25%;
    --popover-foreground: 0 0% 95%;
    --primary: 0 0% 90%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 4% 30%;
    --secondary-foreground: 0 0% 90%;
    --muted: 240 4% 30%;
    --muted-foreground: 240 5% 70%;
    --accent: 240 4% 30%;
    --accent-foreground: 0 0% 90%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 30%;
    --input: 240 4% 30%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}
